html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4, h5, h6 {
  background-color: white;
  font-family: 'Marck Script', cursive;
  font-weight: inherit;
  color: #333;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

a {
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
}

.icon-menu {
  font-size: 2em;
}

nav ul {
  display: none;
}

nav:hover ul {
  display: block;
}

@media only screen and (min-width:600px) {
  header {
    text-align: center;
  }
  .icon-menu {
    display: none;
  }
  nav ul {
    display: block;
    text-align: center;
  }
  nav li {
    display: inline-block;
    padding: 0 10px;
  }
}
